#btnAddAnotherAuthor {
    width: 40px;
    background-color: var(--myVar-darkBlue) ;
}
#bookForm {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--myVar-creme);
}

#btnSubmitBookItem {
    /*border-color: var(--myVar-darkBlue);*/
    position: relative;
    /*transform: translateX(50%);*/
    border-color: var(--myVar-darkBlue);
}

#btnSubmitBookItem:hover {
    background-color: var(--myVar-darkBlue);
    color: var(--myVar-creme);
}