#navHeader {
    background-color: var(--myVar-customBackgroundColor);
    font-weight: bold;
    position: sticky;
    top:0;
    z-index: 1;
    opacity: 100%;
}

.itemOfNavbar, .navbar-brand {
    color: var(--myVar-customForegroundColor);
}

.itemOfNavbar:hover, .navbar-toggler:hover {
    border-radius: 8px;
    color: var(--myVar-foregroundColorOnHover);
    background-color: var(--myVar-backgroundColorOnHover);
}

.navbar-toggler {
    color: var(--myVar-customForegroundColor);
}

@media screen and (max-width: 274px) {
    span.homeButtonName {
        display: none;
    }

    i.homeButtonIcon {  /* ikonka je vytvorena ako font pismo */
        font-size: 20vw;
    }
}

@media screen and (max-width: 768px) {
    ul .show {
        background-color: var(--myVar-invisible);
        border-style: none;
    }

    .dropdown-item {
        color: var(--myVar-customForegroundColor) ;
    }

    .dropdown-item:hover {
        color: var(--myVar-foregroundColorOnHover);
        background-color: var(--myVar-backgroundColorOnHover);
        border-radius: 7px;
    }
}